@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading/*,
    .intro-header .page-heading */
    {
        padding: 3em 0 1em 0;
    }
    .intro-header {
        margin: 0;
    }
    .post-preview img {
        max-width: 66.66666667%
    }
}

footer {
    padding: 0;
}